<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247959645506-sc43btf6uukt4q8ejg5aa68j9vr5a14v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247959645506-sc43btf6uukt4q8ejg5aa68j9vr5a14v</string>
	<key>API_KEY</key>
	<string>AIzaSyATRyfY0LHhVO_OSvYMHydsdnOYLy0OqBs</string>
	<key>GCM_SENDER_ID</key>
	<string>247959645506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loomiChalenge</string>
	<key>PROJECT_ID</key>
	<string>testloomi-413f5</string>
	<key>STORAGE_BUCKET</key>
	<string>testloomi-413f5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247959645506:ios:a035f42821715ad0636cdb</string>
</dict>
</plist>